/* Make form look nice on smaller screens */
/*--- Media Queries --*/

@media screen and (max-width: 1024px) {
/*ipad-pro*/
	.page-content .text h1{
		padding-top: 500px;	
	}
	.nav-container{
		top: 86%;
	}
	.about{
		
		flex-direction: column;
	}
	.section-photo{
		margin-top: 40px;
	}
	.section-text{
		margin-top: -500px;
		margin-left: 100px;
	}
	.skilss-page{
		height: 60vh;
	}
	.skills-page div{
		flex-direction:column;
		margin:auto;
	}
	.project-page{
		height: 80vh;
	}
	.contact-page{
		height: 60vh;
	}
}

@media screen and (max-width: 768px) {
	
	.page-content .text h1{
		padding-top: 400px;
		font-size: 40px;	
	}
	.nav-container{
		top: 85%;
	}
	.about-page h1, .skills-page h1, .project-page h1{
	font-size: 30px;

	}
	.section-text{
		margin-top: -300px;
	}
}

@media screen and (max-width: 414px) {
	.landing-page .page-content .text h1{		
		font-size: 22px;
		padding-top: 270px;	
	}
	.view-button{
		width: 130px;
		height: 40px;
	}
	.view-button a{
		color: #fff;
		font-size:15px;
	}
	.view-button a:hover{
		font-size:15px;
	}
	.nav-container{
		top: 80%;
	}
	.page-content .text h1{
		padding-top: 230px;
		font-size: 25px;		
	}
	.about-page h1, .skills-page h1, .project-page h1,.contact-page div h1{
		font-size: 40px;

	}
	.nav-container a{
		padding: 15px 1px 15px 0;
		width: 140px;
	}
	.nav-container a span{	
		width: 50px;
	}
	.nav-container a span i{
		font-size: 20px;
	}
	
	.about-page h1, .skills-page h1, .project-page h1, .contact-page div h1{
		font-size: 25px;
	}

	.section-photo{
		margin-top: 30px;
	}
	.section-text{
		margin-top: -500px;
		margin-left: 100px;
	}
	.about-photo{
		height: 100px;
		width: 100px;	
	}
	.section-photo blockquote{
		font-size: 10px;

	}
	.section-text p{
		font-size: 10px;
		margin-top: 100px;
	}
	.skills-page{
		height: 100vh;
	}

	.skills-page h5, .project-page h5, .contact-page h5{
		font-size: 12px;
	}
	.card-body img{
		height: 50px;
		width: 50px;

	}

	.project-page{
		height: 200vh;
	}
	.contact-page{
	overflow-x: hidden;
	height: 100vh;
	margin: auto;
	width: 60%;
	}

}

@media screen and (max-width: 375px) {
	.nav-container a{
		width: 130px;
		font-size: 14px;
	}
	.nav-container a span i{

	}	
}
@media screen and (max-width: 320px) {
	.page-content .text h1{
		padding-top: 200px !important;
		font-size: 18px !important;		
	}
	.about-page{
		height: 120vh;

	}
	.about{
		
		height: 120vh;
	}
	.skills-page{
		height: 110vh;
	}
	.section-project img{
		width: 220px;
		height: 160px;
	}
	.section-project .details .content h2{
		margin-left: 12px;
	}
	.section-project .details .content a{
		margin-left: 10px;
	}
	
	.social-media{
		font-size: 20px;
		
	}
	.footer-copyright{
		font-size: 15px;
	}	
}