*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Courgette', cursive;
	font-family: 'Handlee', cursive;
	font-family: 'Raleway', sans-serif;

}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;	
}


.landing-page{
	height: 100vh;
	width: 100%;
	text-align: center;
	align-items: center;

}

.page-content{
	height: 100vh;
	width: 100%;
	background: 
		linear-gradient(

			rgba(17, 126, 112, 0.75),
			rgba(0, 88, 255, 0.45)
			), url(../images/bg1.jpg);
	background-size: cover;
	background-position: top;
	background-repeat: no-repeat;	
}

.page-content .text h1{
	padding-top: 200px;
	font-size: 50px;
	color: black;
}
.view-button{
	width: 170px;
	height: 50px;
	margin:auto;
	margin-top: 50px;
	padding-top: 7px;
	border: 1px solid #ffbbcc;
	box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
}
.view-button:hover{
	color: #fff;
	border: 1px solid #fff;

}

.view-button a{
	color: #fff;
	font-size:20px;

	
}
.view-button a:hover{
	text-decoration: none;
	color: #fff;
	font-size:20px;
	
}

.page-content h1 span{
	color: #ffbbcc;	
}


.nav-container{
	height: 100vh;
	display: flex;
	position: fixed;
	top: 80%;
	transform: translateY(-50%);
	z-index: 1;
}


.nav-container a{
	display: block;
	text-decoration: none;
	background-color: black;
	text-transform: uppercase;
	text-align: left;
	padding: 15px 0 15px 3px;
	margin-left: 5px 0;
	width: 160px;
	letter-spacing: 1.5px;
	box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
	position: relative;
	margin-left: -90px;
	transition: 0.5s ease;
	color: #fff;

}
.nav-container a span{
	float: right;
	width: 70px;
	height: 100%;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background-color: #ffbbcc;
	position: absolute;
	top: 0;
	right: 0;

}
.nav-container a span i{
	font-size: 20px;
}
.nav-container a:hover{
	margin-left: 0;
	text-decoration: none;
	color: white;

}


.about-page{
	overflow-x: hidden;
	overflow-y: hidden;
	border-top: 5px solid #EEEEEE;
	background-color: #EEEEEE;
	height: 100vh;
	width: 100%;
	align-items: center;
	text-align: center;
}

hr.hr{
	border:none;
	border-top: 5px solid #ffbbcc;
	width: 8%;
	margin:auto;
	margin-top: -50px;


}

.about-page h1, .skills-page h1, .project-page h1,.contact-page div h1{
	margin: 50px 0;
	padding: 5px;
	text-align: center;
	font-weight:  bold;
	text-transform: uppercase;
	color: #000;

}
.about{
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	width: 100%

}

.about-page div{
	text-align: center;
	
}

.about-photo{
	height: 200px;
	width: 200px;
	border-radius: 50%;

	
}
.section-photo{
	padding: 5px;
	flex:1;
	margin-top: 20px;

}

.section-text{
	padding: 10px;
	flex: 1;
	margin-top: 20px;
}
.section-text p{
	text-align: justify;
	padding-right: 100px;
	padding-top: 20px;
	font-size: 20px;
}


.skills-page{
	overflow-x: hidden;
	overflow-y: hidden;
	height: 80vh;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.techno-card{
	display: flex;
	flex-wrap: wrap;
	margin-top:70px;
	justify-content: center;

}
.technologies{
	height: 60px;
	width: 70px;
	margin: 10px;
	/*border: 1px solid red;*/
}
.technologies img{
	height: 50px;
	width: 50px;

}

.project-page{
	height: 100vh;
	width: 100%;
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;


}

.project{
	text-align: center;
	justify-content: center;
	display: flex;
	flex-wrap: wrap;
}

.section-project{
	overflow-x: hidden;
	position: relative;
	margin: 10px;


}
.section-project img{
	margin-top: 50px;
	margin-bottom: 50px;
	width: 260px;
	height: 200px;
	transition: transform 2s;
}
.section-project:hover img {
	transform: scale(1.2);
}
.section-project .details{
	position: absolute;
	top: 30px;
	left: 0;
	bottom: 30px;
	right: 0;
	background: rgba(0,0,0,0.8);
	transform: scaleY(0);
	transition: transform 1s;

}
.section-project:hover .details{
		transform: scaleY(1);
}
.section-project .details .content h2{
	color: #fff;	
	margin-left: 35px;
	text-align: center;
	justify-content: center;

}
.section-project .details .content a{
	margin-left: 30px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	border: 1px solid #ffbbcc;
	padding: 1px 7px;
}
.section-project .details .content a:hover{
	color: #fff;
	background-color:#ffbbcc; 
	/*border: 1px solid #fff; */
}

.section-project .details .content{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	padding: 15px;
	color: #fff;
}


.contact-page{
	overflow-x: hidden;
	height: 100vh;
	width: 100%;

}

.contact-page button{
	height: 50px;
	width:80px;
	padding: 2px;

}
.contact-page form{
	margin-top:40px;
}
.contact-page .form-control:focus,.contact-page .form-control:hover{
	box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
	border: 2px solid #ffbbcc;

} 
.contact-page button:hover{
	border: 2px solid #ffbbcc;
	box-shadow: 2px 2px 16px 0px rgba(0,0,0,0.75);
	color: black;
}



.footer-page{
	height: 50px;
	text-align: center;
	justify-content: center;
}
.social-media{
	font-size: 30px;
	background-color: gray;

}
.social-media a>i{
	color: #fff;
}
.social-media a>i:hover{
	color: #ffbbcc;
}
.footer-copyright{
	font-size: 20px;
	background-color:gray; 
}